.sidebar-nav {
  height: 100vh; /* 100% of the viewport height */
  position: fixed; /* Make the sidebar fixed */
  background-color: #1f2f40; /* Adjust to your desired background color */
  /* Add any padding or other styles you need */
}
.sidebar-item{
  background-color: #1f2f40;
}